@model IEnumerable<ERP.Web.Models.Database.DM_HANG_HOA>

@{
    ViewBag.Title = "Index";
}
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<link href="~/Content/self-writing/css/HangHoaDaiLy.css" rel="stylesheet" />
<link href="~/Content/download/dist/css/AdminLTE.css" rel="stylesheet" />
<script src="~/Content/download/angularjs/angular.min.js"></script>
<script src="~/Content/download/angularjs/dirPagination.js"></script>
<script src="~/Content/self-writing/js/HangHoaDaiLy.js"></script>
<link href="~/Content/download/bootstrap/css/layout_all.css" rel="stylesheet" />
<div ng-app="hanghoaApp" ng-controller="hangHoaCtrl">
    <div class="content">
        

        <div id="quick-access">
            <form class="form-inline quick-search-form" role="form" action="#">
                <div class="form-group" style="width: 100%">
                    <input type="text" style="width: 60%" class="form-control" placeholder="Nhập mã hàng cần tìm kiếm vào đây" ng-model="search_text">
                </div>
            </form>
        </div>
        
<br />
        <table id="example" class="table table-bordered" cellspacing="0" name="tblhanghoa" ng-controller="tonkhoCtrl">
            <thead>
                <tr>
                    <th></th>
                    <th>Mã hàng HT</th>
                    <th>Mã hàng nhập</th>
                    <th>Tên hàng</th>
                    <th>Mã nhóm hàng</th>
                    <th>Đơn vị tính</th>
                    <th>Model đặc biệt</th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate-start="item in filtered = (danhsachhanghoa | filter: {MA_HANG_HT:search_text}) | itemsPerPage: 15 " class="hover" ng-class-odd="'odd'" ng-class-even="'even'">
                    <td>
                        <button class="expand" ng-if="item.expanded" ng-click="item.expanded = false"><i class="fa minus fa-minus-circle" aria-hidden="true"></i></button>
                        <button class="expand" type="button" ng-if="!item.expanded" ng-click="item.expanded = true" ng-><i class="fa plus fa-plus-circle" aria-hidden="true"></i></button>
                    </td>
                    <td class="text-left">{{ item.MA_HANG_HT }}</td>
                    <td class="text-left">{{item.MA_HANG_NHAP}}</td>
                    <td class="text-left">{{item.TEN_HANG}}</td>
                    <td>{{item.MA_NHOM_HANG}}</td>
                    <td>{{item.DON_VI_TINH | uppercase}}</td>
                    <td><input type="checkbox" ng-checked="item.MODEL_DAC_BIET==true" ng-model="item.MODEL_DAC_BIET" ng-disabled="true"><br></td>
                </tr>
                <!--Detail row-->
                <tr ng-if="item.expanded" dir-paginate-end="">

                    <td colspan="9">

                        <div class="content expandrow">

                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#chitiet">Chi tiết hàng hóa</a></li>
                                <li><a data-toggle="tab" href="#tonkho" ng-click="get_tonkho(item.MA_HANG_HT)">Tồn kho</a></li>
                            </ul>

                            <div class="tab-content">
                                <!--Tab chi tiết hàng hóa-->
                                <div id="chitiet" class="tab-pane fade in active">
                                    <div class="col-md-2">
                                        <img src="~/Content/download/dist/img/avatar.png" height="150" width="150" />
                                    </div>
                                    <div class="col-md-3">
                                        <table class="table noborder">
                                            <tr>
                                                <td>Mã hàng HT:</td>
                                                <td>{{item.MA_HANG_HT}}</td>
                                            </tr>
                                            <tr>
                                                <td>Mã hàng nhập</td>
                                                <td>{{item.MA_HANG_NHAP}}</td>
                                            </tr>
                                            <tr>
                                                <td>Tên hàng</td>
                                                <td>{{item.TEN_HANG}}</td>
                                            </tr>
                                            <tr>
                                                <td>Mã nhóm hàng</td>
                                                <td>{{item.MA_NHOM_HANG}}</td>
                                            </tr>
                                            <tr>
                                                <td>Seri</td>
                                                <td>{{item.SERI}}</td>
                                            </tr>

                                        </table>
                                    </div>
                                    <div class="col-md-3">
                                        <table class="table noborder">
                                            <tr>
                                                <td>Hạch toán</td>
                                                <td>{{item.TK_HACH_TOAN_KHO}}1</td>
                                            </tr>
                                            <tr>
                                                <td>Doanh thu</td>
                                                <td>{{item.TK_DOANH_THU}}</td>
                                            </tr>
                                            <tr>
                                                <td>Chi phí</td>
                                                <td>{{item.TK_CHI_PHI}}</td>
                                            </tr>

                                        </table>
                                    </div>
                                    <div class="col-md-3">
                                        <table class="table noborder">
                                            <tr>
                                                <td>Đơn vị tính</td>
                                                <td>{{item.DON_VI_TINH}}</td>
                                            </tr>
                                            <tr>
                                                <td>Đặc tính</td>
                                                <td>{{item.DAC_TINH}}</td>
                                            </tr>
                                            <tr>
                                                <td>Ghi chú</td>
                                                <td>{{item.GHI_CHU}}</td>
                                            </tr>

                                        </table>
                                    </div>
                                </div>

                                <div id="tonkho" class="tab-pane fade">
                                    <table class="table table-fill ">
                                        <thead>
                                            <tr>
                                                <th>Mã kho</th>
                                                <th>Số lượng tồn</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-hover">
                                            <tr ng-repeat="tonkho in danhsachtonkho">
                                                <td>{{tonkho.MA_KHO}}</td>
                                                <td>{{tonkho.SL_TON}}</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td><strong style="font-size: 20px">Tổng tồn:</strong></td>
                                                <td>{{getTotal('SL_TON')}}</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="9" style="border: none !important">
                        <dir-pagination-controls max-size="1" style="float:right;"
                                                 direction-links="true"
                                                 boundary-links="true">
                        </dir-pagination-controls>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<script src="~/Content/download/angularjs/angular-ui-router.js"></script>

